.orders-container {
  width: 100vw;
  max-width: 100%;
  padding: 0 5vmax;
  height: 100vh;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}
.orders-container > p {
  text-align: center;
  font: 400 1.5vmax "Roboto";
  background-color: #a1bceb;
  color: black;
  padding: 1vmax;
  transition: all 0.5s;
}

.orders-table > div {
  font: 300 1.4vmax "Roboto";
  color: rgba(0, 0, 0, 0.616);
  /* border: none; */
}
.orders-table a {
  color: rgba(0, 0, 0, 0.514);
  transition: all 0.5s;
}
.orders-table a:hover {
  color: #d9a64d;
}
.MuiDataGrid-columnHeader {
  background-color: #a1bceb;
  padding: 1vmax !important;
}
.MuiDataGrid-columnHeader div {
  color: black;
  font-size: 1.5vmax;
}
.MuiDataGrid-iconSeparator {
  display: none !important;
}
.redColor {
  color: #c38832 !important;
}

@media screen and (max-width: 600px) {
  .orders-container {
    padding: 0;
    height: 93vh;
  }
  .orders-container > p {
    font-size: 2.5vmax;
    padding: 1.5vmax;
  }
  .orders-table > div {
    font-size: 2vmax;
  }
  .MuiDataGrid-columnHeader div {
    font-size: 2vmax;
  }
  .MuiDataGrid-columnHeader {
    padding: 1.5vmax !important;
  }
}
